# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
*.psd
*.pdf

# Documentos
docs/

# Token
github_token.txt

# Archivos pesados
public/2026/FICIDI_IV_PIEZAS_GRAFICAS/POSTER_FICIDI_IV.psd
public/2026/FICIDI_IV_PIEZAS_GRAFICAS/POSTER_FICIDI_IV_QR.psdgithub-token.txt
